.footer__heading{
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    color: #444;
}

.footer__list{
    font-weight: 300;
    cursor: pointer;
    
    @media screen and (max-width : 426px) {
        font-size: 14px;
    }
    
}

.footer__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item__top{
    display: flex;
    align-items: center;
}

.footer__item__top > .footer__heading{
    flex : 0.8;
}

.footer__item__top > .arrow__button{
    flex :0.2;
    justify-content: center;
    align-items: center;
}



.footer__item__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.3s ease; 
}
