h2{
    font-size: 16px;
    color:#fff;
    cursor: pointer;
}

span{
    font-weight: 300;
    cursor: pointer;
}

.footer__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item__top{
    display: flex;
    align-items: center;
}

.footer__item__top > h2{
    flex : 0.8;
}

.footer__item__top > .button{
    flex :0.2;
    justify-content: center;
    align-items: center;
}



.footer__item__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.3s ease; 
}
