.TripCard {
  width: 222px;
  /* height: 434px; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 15px;
  cursor: pointer;
  color: #3a3a3a;
  transition: all 0.1s ease;
}

.TripCard:hover{
    transform: scale(1.03);
}

.TripCard__image {
  width: 100%;
  height: 320px;
}

.TripCard__image .photo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}

.title{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.56;
    max-height: calc(2 * 16px * 1.56);
}

.rating{
    font-size: 12px;
    line-height: 1;
    color: #949494;
    padding: 5px 0;
}
.rating .star{
    color:#ffc527;
}

.price .price__top{
    font-size: 14px;
    text-decoration: line-through;
    padding:5px 0 ;
    /* margin-bottom: 11px; */
}

.price .price__bottom{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.56;
    color : #3a3a3a;
    margin-left: 2px;
}