* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}

a{
  text-align: center;
}

/* CSS for Main Holder of whole navigation bar  */
.navHolder {
  font-family: 'Manrope', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  place-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
}

/* CSS for nav container holding major menu items logo  */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  height: 60px;
  width: 100%;
}

#logoImage {
  width: 40px;
  height: 40px;
}

.logo {
  width: 60px;
  height: 60px;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* CSS for nav bottom/secondary container holding minor menu items  */
.navContainerBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  height: 40px;
  width: 100%;
}
.menuList {
  display: flex;
}

.menuList-list-item {
  padding: 0px 16px;
}



@media(max-width: 540px) {
  .navContainerBottom{
    display: none !important;
  }
  .navContainer{
    display: none !important;
  }
}

/* @media only screen and (max-width: 426px) {
  .footer__bottom{
      flex-direction: column;
      gap:10px;
  }
  .footer__bottom  h2{
      font-size: 12px;
      padding:0 5px;
  }
} */
