li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#navbar__india {
  color: rgb(38, 187, 32);
}

.CompanyName {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;

  @media screen and (max-width: 900px) {
    font-size: 1.1em;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  @media screen and (max-width: 900px) {
    /* display: none; */
   border-bottom: solid 0.5px lightgray;
  }
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87.5%;

}

.menu__list {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;

  @media screen and (max-width: 900px) {
    /* display: none; */
    padding: 0 1.2em;
    flex-direction: column;
    justify-content: flex-start;
    top: 60px;
    right: 0;
    left: 0;
    position: absolute;
    background-color: white;
    color: #fff;
    gap: 0;
    font-size: 0.8em;
  }
}

.menu__list li a {
  position: relative;
  text-transform: uppercase;
  @media screen and (max-width: 900px) {
    color: black;
    text-transform: capitalize;
    font-weight: 900;
  }
}
.menu__list li {
  @media screen and (max-width: 900px) {
    color: #fff;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border: none;
    /* border-bottom: solid 1.2px gray; */
    width: 90%;
    text-align: right;
  }
}

.menu__list li a::after {
  content: "";
  background-color: rgb(38, 187, 32);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.menu__list li a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.hamburger {
  display: none;

  @media screen and (max-width: 900px) {
    display: grid;
    place-items: center;

  }
}
