.footer {
  display: flex;
  justify-content: center;
  color: #666;
  font-family: 'Raleway', sans-serif;
  padding: 20px 0 40px;
}

.footer__container {
  /* width: 1400px; */
  width: 87.5%;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 426px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.footer__linebreak {
  margin: 50px 0px;
  height: 0;
  border: 1px solid #ebe9e9;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 580px) {
    flex-direction: column;
    gap: 12px;
  }
}

.footer__left {
  width: max-content;
  display: flex;
  align-items: center;
}

.footer__left__text {
  font-size: 16px;
  color: #444;
  cursor: pointer;
  font-weight: 700;

  @media screen and (max-width: 426px) {
    color: black;
    font-weight: 700;
    font-size: 12px;
    padding: 0 5px;
  }
}

.social > .social__icons {
  cursor: pointer;
}

.footer__right {
  width: max-content;
  display: flex;
  align-items: center;
}

.footer__right .social {
  display: flex;
  gap: 20px;
  align-items: center;
}
