@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color-scheme: light dark; */
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar{
  /* width : 10px; */
  display: none;
}
/* :root::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
:root::-webkit-scrollbar-thumb{
  background-color: #2c3e50;
}
:root::-webkit-scrollbar-thumb:hover{
  background-color: #2c3e50;
} */