.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px 0; */
}

.slide__container {
  width: 87.5vw;
}

.heading {
  text-align: center;
  color: #3a3a3a;
  font-size: 2.2em;
  font-weight: 600;
  /* position: relative; */
}

/* .heading::after {
  content: "";
  background-color: rgb(38, 187, 32);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
} */

.slide__cards{
  margin-top: 40px;
  display: flex;
  /* overflow-y: hidden; */
  overflow-x: scroll;
  padding: 20px;
  gap: 25px;
}

.slide__cards::-webkit-scrollbar{
  display: none;
}

