.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  gap: 30px;
  background-size: 76.6% 500px;
  /* background-image: linear-gradient(white , #A0F9A0); */
  background-repeat: no-repeat;
  background-position: center center;
} 

.slide > h1{
  color:darkgreen;
}
.slide__container {
  width: 87.5%;
  /* background-color: lightgreen; */
  padding: 20px ;
  
}


.slide .slick-slide {
  display: flex !important;
  justify-content: space-around !important;
}


.prev-arrow, .next-arrow{
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 40px !important; 
  height: 40px !important; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: white !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  z-index: 1 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

}

.prev-arrow {
  left: -20px !important; 
}

.next-arrow {
  right: -20px !important; 
}


