@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bannerContainer{
    font-family: 'Manrope', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 35% 55%;
    min-height: 100vh;
    margin-top: 60px;
    color : black;
    background-image: url(../../assets/images/pexels-adrien-olichon-16032547.jpg);
}

/* Top banner CSS starts here  */

.bannerTop{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

form{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.searchBox {
    
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
}
.searchBox:hover > .searchInput {
    width: 100%;
    border: solid 0.5px black;
}
.searchBox:hover > .searchInput::placeholder {
    opacity : 1;
}
.searchButton:hover > .searchInput {
    width: 100%;
    border: solid 1px black;
}
.searchBox:hover > .searchButton {
  display: none; 
}

.searchButton:hover > .searchButton {
  display: none;
}

.searchButton {
    border: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    border-bottom: solid 1px black;
    width: 300px;
    height: 40px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 4fr 1.2fr;
    grid-template-rows: 1fr;
    place-items: center;
    transition: 0.4s;
}

.searchInput {
    font-size: 0.9rem;
    color: black;
    font-weight: 300;
    border:none;
    background: transparent;
    outline:none;
    float:left;
    padding: 0;
    text-align: center;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchInput::placeholder{
    color: black;
    opacity: 0;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
    border: none;
    border-bottom: solid 1px black;
    }

    .searchInput::placeholder{
        font-size: 8px;
        overflow-wrap: break-word;
        text-align: center;
    }
}


/* middle banner CSS starts here  */

.bannerMiddle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding-top: 60px;
}

.bannerHeading{
    font-weight: 500;
}

/* bottom banner CSS starts here  */
.bannerBottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}